# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\БЕЙБАРЫС\IdeaProjects\task\.idea/dataSources/
/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

target/*

### Intellij Idea ###
.idea/*
*.iml
*.ipr
*.iws